@import url("https://fonts.googleapis.com/css2?family=Are+You+Serious&family=Grechen+Fuemen&family=Mukta:wght@200;400&display=swap");

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
}
input,
button,
textarea {
	font-family: inherit;
}

a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
body {
	width: 1200px;
	margin: 0 auto;
}
header {
	text-align: center;
}
.bloc {
	font-size: 20px;
	margin: 10px;
}
.bloc.p > div {
	color: sienna;
}

.text-red {
	color: red;
}

.text-blue {
	color: blue;
}

.bloc-beautiful {
	padding: 10px;
}

.beautiful {
	color: red;
	font-family: "Are You Serious";
}

.sub-beautiful {
	font-family: "Grechen Fuemen";
	color: seagreen;
}

.bloc-uglu {
	font-family: Mukta;
}
.bloc-uglu:last-child {
	font-size: 15px;
	color: sienna;
	margin: 20px;
}

.uglu {
	font-weight: 400;
}

.sub-uglu {
	font-weight: 200;
}
img {
	width: 50%;
	height: 300px;
}
.proba > p {
	color: slateblue;
}
.proba {
	color: red;
}
li {
	margin: 20px;
}
li:last-child {
	color: springgreen;
}
ol {
	color: red;
}
